---
import Layout from '../layouts/Layout.astro';
import NewsScroll from '../components/NewsScroll.astro';
import Events from '../components/Events.astro';

const allNews = await Astro.glob('../content/news/*.md');
const news = allNews
  .sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime())
  .slice(0, 20);
---
<Layout title="Polski hip-hop w Holandii" description="Przeglądaj najnowsze wiadomości, aktualności i wywiady związane z polskim hip-hopem. Bądź na bieżąco z wydarzeniami, premierami i opiniami artystów.">
  <NewsScroll title="Aktualności" description="Najnowsze wiadomości i wydarzenia ze sceny hip-hopowej" news={news.filter(({frontmatter}) => frontmatter.category !== 'interview')} showAllUrl="/news" />
  <NewsScroll title="Wywiady" description="Rozmowy z artystami i twórcami polskiego hip-hopu w Holandii" news={news.filter(({frontmatter}) => frontmatter.category === 'interview')} showAllUrl="/news/?category=interview" />
  <div class="lg:col-span-1 space-y-8">
    <Events />
  </div>
</Layout>
